doctype html
html(lang='en')
    head
        //
            Basic Page Needs
            ––––––––––––––––––––––––––––––––––––––––––––––––––
        meta(charset='utf-8')
        title Twitter Client
        meta(name='description', content='')
        meta(name='author', content='')
        //
            Mobile Specific Metas
            ––––––––––––––––––––––––––––––––––––––––––––––––––
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //
            FONTS
            ––––––––––––––––––––––––––––––––––––––––––––––––––
        link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,600', rel='stylesheet', type='text/css')
        //
            CSS
            ––––––––––––––––––––––––––––––––––––––––––––––––––
        link(rel='stylesheet', href='/static/css/global.css')
    body
        h1 Error: Something went wrong. Please check the error-log file to review what happened.
        a(href='/')
            //- .grid-33
            //-     .app--section
            //-         ul.app--message--list
            //-             li
            //-                 h3
            //-                     | Conversation with 
            //-                     a= contact[0]
            //-                 ul.app--message--conversation
            //-                     li.app--message
            //-                         .app--avatar(style='background-image: url(/static/images/f-spore.png)')
            //-                             img(src='/static/images/f-spore.png')
            //-                         p.app--message--text= messageText[0]
            //-                         p.app--message--timestamp= messageTimes[0]
            //-                 h3
            //-                     | Conversation with 
            //-                     a= contact[1]
            //-                 ul.app--message--conversation
            //-                     li.app--message
            //-                         .app--avatar(style='background-image: url(/static/images/f-spore.png)')
            //-                             img(src='/static/images/f-spore.png')
            //-                         p.app--message--text= messageText[1]
            //-                         p.app--message--timestamp= messageTimes[1]
            //-                 h3
            //-                     | Conversation with 
            //-                     a= contact[2]
            //-                 ul.app--message--conversation
            //-                     li.app--message
            //-                         .app--avatar(style='background-image: url(/static/images/f-spore.png)')
            //-                             img(src='/static/images/f-spore.png')
            //-                         p.app--message--text= messageText[2]
            //-                         p.app--message--timestamp= messageTimes[2]
            //-                 h3
            //-                     | Conversation with 
            //-                     a= contact[3]
            //-                 ul.app--message--conversation
            //-                     li.app--message
            //-                         .app--avatar(style='background-image: url(/static/images/f-spore.png)')
            //-                             img(src='/static/images/f-spore.png')
            //-                         p.app--message--text= messageText[3]
            //-                         p.app--message--timestamp= messageTimes[3]
            //-                 h3
            //-                     | Conversation with 
            //-                     a= contact[4]
            //-                 ul.app--message--conversation
            //-                     li.app--message
            //-                         .app--avatar(style='background-image: url(/static/images/f-spore.png)')
            //-                             img(src='/static/images/f-spore.png')
            //-                         p.app--message--text= messageText[4]
            //-                         p.app--message--timestamp= messageTimes[4]
            //-                     li.app--message--me
            //-                         .app--avatar(style='background-image: url(/static/images/m-spore.png)')
            //-                             img(src='/static/images/m-spore.png')
            //-                         p.app--message--text= messageText[1]
            //-                         p.app--message--timestamp= messageTimes[1]
            //-                     li.app--message
            //-                         .app--avatar(style='background-image: url(/static/images/f-spore.png)')
            //-                             img(src='/static/images/f-spore.png')
            //-                         p.app--message--text= messageText[2]
            //-                         p.app--message--timestamp= messageTimes[2]
            //-                     li.app--message--me
            //-                         .app--avatar(style='background-image: url(/static/images/m-spore.png)')
            //-                             img(src='/static/images/m-spore.png')
            //-                         p.app--message--text= messageText[3]
            //-                         p.app--message--timestamp= messageTimes[3]
            //-                     li.app--message
            //-                         .app--avatar(style='background-image: url(/static/images/f-spore.png)')
            //-                             img(src='/static/images/f-spore.png')
            //-                         p.app--message--text= messageText[4]
            //-                         p.app--message--timestamp= messageTimes[4]